set -g -x DBT_PROFILES_DIR .

set -g -x DATABRICKS_HOST <DATABRICKS_HOST>
set -g -x DATABRICKS_HTTP_PATH <DATABRICKS_HTTP_PATH>
set -g -x DATABRICKS_SCHEMA <DATABRICKS_SCHEMA>
set -g -x DATABRICKS_TOKEN <DATABRICKS_TOKEN>

set -g -x SNOWFLAKE_ACCOUNT "SNOWFLAKE_ACCOUNT>"
set -g -x SNOWFLAKE_DATABASE "<SNOWFLAKE_DATABASE>"
set -g -x SNOWFLAKE_PASSWORD "<SNOWFLAKE_PASSWORD>"
set -g -x SNOWFLAKE_SCHEMA "<SNOWFLAKE_SCHEMA>"
set -g -x SNOWFLAKE_USER "<SNOWFLAKE_USER>"
set -g -x SNOWFLAKE_WAREHOUSE "<SNOWFLAKE_WAREHOUSE>"

set -g -x BIGQUERY_PROJECT "<BIGQUERY_PROJECT>"
set -g -x BIGQUERY_DATASET "<BIGQUERY_DATASET>"
set -g -x BIGQUERY_KEYFILE "<BIGQUERY_KEYFILE>"
set -g -x BIGQUERY_LOCATION <BIGQUERY_LOCATION>
set -g -x DATAPROC_REGION "<DATAPROC_REGION>"
set -g -x GCS_BUCKET "<GCS_BUCKET>"
set -g -x DATAPROC_CLUSTER_NAME "<DATAPROC_CLUSTER_NAME>"